extends ../layout

block content
	h1= title
	if locals.groups
		ul.groups
			each group in locals.groups
				li
					span.group-icon(style="background-color: "+group.color)
					if group.users
						ul.users
							each user in group.users
								li
									| #{user.name} (#{user.points}) &mdash; Next Action: #{user.todaysAction ? (user.todaysAction == 'last-action' ? user.lastAction : user.todaysAction) : user.defaultAction} 
									a.btn(href="/profile/"+user._id) Edit