extends layout

block content
	h1 Experimonth: Freeloader
	p Welcome!
	if locals.user
		h2 What will you do today?
		form(action="/", method="post")
			label.checkbox
				input(type="checkbox", name="makeDefault")
				small Make this decision my default
			button.btn.popover-trigger(type="submit", name="action", value="invest", class=(locals.user.todaysAction == 'invest' ? 'btn-primary' : ''), data-content="You will invest "+config.pointsToInvest+" points and receive a portion of the combined proceeds.")
				| Invest! 
				b.icon.icon-info-sign
			|  
			button.btn.popover-trigger(type="submit", name="action", value="freeload", class=(locals.user.todaysAction == 'freeload' ? 'btn-primary' : ''), data-content="You will not invest any points, but will receive a portion of the proceeds.")
				| Freeload! 
				b.icon.icon-info-sign
			|  
			if locals.user.lastAction
				button.btn.popover-trigger(type="submit", name="action", value="last-action", data-content="Your last action (invest or freeload) will be repeated today. If you set this as your default but choose to manually take action on a day in the future, that action will then be repeated (not the action indicated in parenthesis on this button).")
					| Do what I did yesterday (#{locals.user.lastAction})! 
					b.icon.icon-info-sign
	else
		p Create an account by logging in via:
		ul.login-buttons.unstyled
			li: a.btn-auth.btn-facebook(href="/auth/facebook") Login with Facebook
			// li: a.btn-auth.btn-twitter(href="/auth/twitter") Login with Twitter
