html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  background: #000000 url('../images/bg-tile.png') repeat center center;
  color: #efefef;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-shadow: inset 0px 0px 200px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 200px 10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 200px 10px rgba(0, 0, 0, 0.75);
  padding-top: 15px;
  margin-top: 85px;
}
body > .container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
body > .container > #container-inner {
  margin: 0 auto;
  width: 914px;
  height: 570px;
  background: transparent url('../images/scene-bg.png') no-repeat top left;
  position: relative;
  /* temporary */
  padding-top: 600px;
}
.popover > .popover-title,
.popover > .popover-content {
  color: #000;
}
h1.gameTitle {
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 18px;
  color: #00a6df;
  text-transform: uppercase;
}
div.cursor {
  position: absolute;
  top: 18px;
  left: 170px;
  height: 25px;
  width: 2px;
  background-color: #fff;
}
h1 {
  margin: 20px 0;
}
table {
  width: 100%;
}
table tr {
  border-bottom: 1px #ddd solid;
}
table td {
  padding: 1px;
  margin: 0 5px;
  text-align: center;
}
.decision-form .btn {
  margin: 0 4px;
}
