@font-face {
  font-family: Silom;
  src: url('/fonts/silom.woff') format("woff"), url('/fonts/silom.ttf') format("truetype");
}
html {
  height: 100%;
  overflow: hidden;
  padding-top: 85px;
}
html body {
  height: 100%;
  background: #000000 url('../images/bg-tile.png') repeat center center;
  color: #efefef;
  font-family: Silom, Helvetica, Arial, sans-serif;
  -webkit-box-shadow: inset 0px 0px 200px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 200px 10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 200px 10px rgba(0, 0, 0, 0.75);
  padding-top: 0;
}
html body > .container {
  padding-top: 25px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-transform: uppercase;
}
html body > .container > #container-inner {
  margin: 0 auto;
  width: 914px;
  height: 570px;
  background: transparent url('../images/scene-bg.png') no-repeat top left;
  position: relative;
  /* temporary */
  padding-top: 600px;
}
.popover > .popover-title,
.popover > .popover-content {
  color: #000;
}
h1.gameTitle {
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 18px;
  color: #00a6df;
  text-transform: uppercase;
}
div.cursor {
  position: absolute;
  top: 18px;
  left: 170px;
  height: 25px;
  width: 2px;
  background-color: #fff;
}
h1 {
  margin: 20px 0;
}
table {
  width: 100%;
}
table tr {
  border-bottom: 1px #ddd solid;
}
table td {
  padding: 1px;
  margin: 0 5px;
  text-align: center;
}
.status {
  position: absolute;
  top: -10px;
  right: 0;
}
.status .time-left {
  height: 29px;
  background: transparent url('../images/clock-gray.png') scroll no-repeat left top;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1em;
  padding-top: 5px;
}
.status .time-left .status-label {
  display: inline-block;
  width: 163px;
}
.status .time-left .time {
  display: inline-block;
  width: 135px;
  text-align: right;
}
.status .bank,
.status .group-bank {
  height: 29px;
  margin-top: 4px;
  background: transparent url('../images/money.png') scroll no-repeat left top;
  padding-left: 65px;
  font-size: 18px;
  line-height: 1em;
  padding-top: 2px;
}
.status .bank .status-label,
.status .group-bank .status-label {
  display: inline-block;
  width: 130px;
}
.status .bank .balance,
.status .group-bank .balance {
  display: inline-block;
  width: 143px;
  text-align: right;
}
.status .bank.group-bank,
.status .group-bank.group-bank {
  background-image: url('../images/group-bank.png');
}
.sign {
  text-align: center;
  position: absolute;
  color: #312115;
  width: 140px;
  height: 76px;
}
.sign.investor-sign {
  top: 140px;
  left: 26px;
}
.sign.freeloader-sign {
  top: 149px;
  right: 33px;
}
.sign h2,
.sign h3,
.sign h4 {
  line-height: 1em;
  margin: 0;
}
.sign h2 {
  font-size: 30px;
  margin-top: 7px;
}
.sign h3 {
  font-size: 18px;
}
.sign h4 {
  font-size: 12px;
}
.people {
  position: absolute;
  top: 245px;
  width: 310px;
}
.people .person {
  position: relative;
  display: block;
  width: 60px;
  height: 111px;
  background: transparent scroll no-repeat left top;
}
.people .person.investor {
  background-image: url('../images/person-facing-right.png');
}
.people .person.freeloader {
  background-image: url('../images/person-facing-left.png');
}
.people .person.you:before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 35px;
  top: -41px;
  background: transparent url('../images/you-arrow.png') scroll no-repeat center top;
}
.people.investors {
  left: 100px;
}
.people.investors .investor {
  float: left;
  margin-right: 10px;
}
.people.investors .investor:nth-child(1n+5) {
  margin-top: -65px;
}
.people.investors .investor:nth-child(1n+9) {
  margin-top: -75px;
}
.people.investors .investor:nth-child(4n+5) {
  margin-left: 25px;
}
.people.investors .investor:nth-child(4n+9) {
  margin-left: -15px;
}
.people.investors .investor:nth-child(4n+13) {
  margin-left: 0;
}
.people.freeloaders {
  right: 129px;
}
.people.freeloaders .freeloader {
  float: right;
  margin-left: 10px;
}
.people.freeloaders .freeloader:nth-child(1n+5) {
  margin-top: -65px;
}
.people.freeloaders .freeloader:nth-child(1n+9) {
  margin-top: -75px;
}
.people.freeloaders .freeloader:nth-child(4n+5) {
  margin-right: 25px;
}
.people.freeloaders .freeloader:nth-child(4n+9) {
  margin-right: -15px;
}
.people.freeloaders .freeloader:nth-child(4n+13) {
  margin-right: 0;
}
.people.newGame {
  left: 310px;
}
.people.newGame .person {
  float: left;
  margin-right: 10px;
}
.people.newGame .person:nth-child(1n+5) {
  margin-top: -65px;
}
.people.newGame .person:nth-child(1n+9) {
  margin-top: -75px;
}
.people.newGame .person:nth-child(4n+5) {
  margin-left: 25px;
}
.people.newGame .person:nth-child(4n+9) {
  margin-left: -15px;
}
.people.newGame .person:nth-child(4n+13) {
  margin-left: 0;
}
.take {
  background-color: black;
  color: white;
  height: 31px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 475px;
}
.take.investor-take {
  width: 242px;
  left: 90px;
}
.take.freeloader-take {
  width: 260px;
  right: 110px;
}
.decision-form {
  width: 620px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1em;
}
.decision-form p {
  margin-bottom: 30px;
}
.decision-form .decision-label {
  float: left;
  width: 240px;
}
.decision-form .decision-input {
  float: left;
  width: 380px;
  margin-top: -10px;
}
.decision-form .decision-input input {
  margin-left: 5px;
  background: transparent;
  border: none;
  outline: none;
  color: #00a6df;
}
.decision-form .decision-input input.submitted {
  color: #ffc000;
}
.decision-form .decision-input .decision-help {
  font-size: 12px;
  line-height: 1.2em;
  opacity: 0.6;
  color: #ffc000;
  margin-left: 5px;
}
.decision-form .decision-input .decision-help p {
  margin-bottom: 0;
}
.decision-form .decision-input .decision-help .white {
  color: #FFF;
}
.decision-form .decision-input .decision-help .gray {
  color: #AFAFAF;
}
