extends layout

block body
	#container-inner-no-bg.faq
		h1 F.A.Q.
		dl
			dt What is this all about? How does this relate to real life? 

			dd
				p The game of Freeloader relates to a lot of economic and social science concepts like public goods and private goods and the free-rider problem. 

				p Public goods are goods that you may be able to use without paying, that anyone in the community can use, and that your use of them doesn’t stop someone else from using them. A few common examples of public goods are fresh air, street lighting, national defense, and National Public Radio. (Private goods are things that if they are not yours, you have to pay to use them; if you own them, you can decide who uses them; when you’ve used them, nobody else can use them. A few common examples of private goods are food, clothing, and cars.)

				p A “free-rider” (or “freeloader” in our case) is someone who benefits from the public good without paying for it. This can become a problem when the resource becomes degraded or diminished by so many people continuing to use the good or service without paying for it. Another consequence of overuse by free-riders could be that fees or restrictions are placed on the good so that everyone must pay to use it from now on no matter what, making it no longer a public good. 

				p It really all comes down to self-interest versus group-interest. When people continue to act in their own self-interest and consume a good without ever contributing to it, that can lead to a “tragedy of the commons” and degrade the good or resource so much that it is no longer good for anyone. 

				p 
					strong Freeloader
					|  is a “public goods game” designed to shed light on this social phenomenon. 



			dt Why do I have to set a default decision? 

			dd
			
				p Your default decision is logged for you if you cannot play that day. Your default decision makes the game possible on days that you cannot play.

			dt When I type my decision into the answer field, how do I know it has been saved?

			dd
				p After you type your decision, hit enter (or tap done on your smartphone) and you will see your decision turn yellow when it has been saved.

			dt What if I submitted my decision and later realize that I want to change it?

			dd
				p You can change your decision any time before the deadline for that day. Simply highlight your previous decision and type your new one and hit enter (or tap done on your smartphone).

			dt Will the deadline always be at the same time every day? 

			dd
				p Yes. The deadline will always be at midnight Eastern Time.

			dt How is my bank calculated? 

			dd
				p Every day, everyone is given one dollar. Everyone decides to use it to leave the group or, if they want to stay, to invest that dollar in the group pool or to keep it. At the end of the day, we double whatever was invested in the group pool and divide that equally among all players who stayed, regardless of whether they invested or freeloaded. Your bank is the accumulation of what you’ve earned throughout the month.  If you use your dollar to leave the group, you will be added to a new group starting the next day.

			dt Does my bank balance move with me when I leave a group, or do I start from scratch? 

			dd
				p Your bank balance always moves with you. You keep adding to the same bank even when you move groups. However, if you unenroll or your group is disbanded because no one invested, then you lose your bank and must re-enroll to start over.

			dt Who else is in my group? 

			dd
				p Your group is assigned randomly and is comprised of other Experimonthers. They are anonymous so that you must make your decision in absence of the ability to communicate with them.

			dt Can I communicate with my group members?

			dd
				p You cannot. The game has been designed to explicitly prevent communication.

			dt What happens when I leave a group? 

			dd
				p If you leave your group, you are randomly assigned to another group. In some cases, a new group will be created for you and others. All groups must be at least three people.

			dt Is there any way to kick someone out of my group? 

			dd
				p No. The only mechanism you have to cope with freeloaders is to leave a group.

			dt Why was I assigned to a new group when I didn’t choose to leave a group?

			dd
				p The group you were in grew too small, so you were randomly assigned to another group. All groups must be at least three people.

			dt How is the group bank calculated?

			dd
				p The group bank is the total of the individual banks of all members in that group on that day.

			dt How do I have more money than some of the other people in my group when I’ve invested every day (never freeloaded)? 

			dd
				p When players decide to freeload, they receive their share of the group’s pool in addition to keeping the dollar they were given that day. For example, if there are four people in a group and one person decides to Freeload, the math looks like this: 

				ul.list
					li Person A: invests $1
					li Person B: invests $1
					li Person C: invests $1
					li Person D: freeloads and keeps $1

				p At the end of the day, the group pool is $3. We double that ($6), divide it equally (6 divided by 4 = $1.50), and distribute it to each person’s bank.

				ul.list
					li Investor A bank: $1.50
					li Investor B bank: $1.50
					li Investor C bank: $1.50
					li Freeloader D bank: $2.50

				p Alternatively, if all invest, the group pool would be $4, doubled $8, and divided equally, $2 per person.

				p If all freeload, the group is disbanded.

				p If all but one freeload, the group pool would be $1, doubled $2, and divided equally 50¢ and distributed accordingly: 

				ul.list
					li Freeloader A bank: $1.50
					li Freeloader B bank: $1.50
					li Freeloader C bank: $1.50
					li Investor D bank: 50¢
