extends layout 

block body
	#container-inner
		- if (hasError)
			div.alert.alert-danger Oops! An error has occurred. Please check the console log.

		h2=title
		
		h4(style='margin:40px 0')
			a#signup(href=process.env.AUTH_SERVER+"/currently-recruiting") Sign up to play!
			
